tbody {
    display: block;
    height: 250px;
    overflow: auto;
  }
  
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  .sidescroll {
    overflow-x: scroll;
  }
  
